/* Colori */
:root {
    --colorePrincipale: #1389B2;
    --coloreFizz: #0BD6A1;
    --coloreBuzz: #FFD166;
    --coloreFizzBuzz: #F0466F;
}

/* Colore Recipiente della contenitore lista */
.recipe-list {
    background-color: #083B4C;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Recipiente dei li*/
#recipe-numbers {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    
}

/* li dentro */
ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: 100px;
    background-color: var(--colorePrincipale);
    border: 2px solid #000000;
    text-transform: capitalize;
}

.fizz {
    background-color: #0BD6A1;
}

.buzz {
    background-color: #FFD166;
}

.fizzbuzz {
    background-color: #F0466F;
}